name: Release iOS
description: "Setup iOS for release"
inputs:
  dist-certificate-base-64-content:
    description: "Distribution certificate base64 encoded"
    required: true
    default: false
  ios-app-folder:
    description: "iOS app folder"
    required: true
    default: false

runs:
  using: "composite"
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 15

      - name: Select Xcode version
        env:
          XCODE_VERSION: "15.1"
        run: sudo xcode-select -s /Applications/Xcode_${{ env.XCODE_VERSION }}.app/Contents/Developer

      - name: Setup
        uses: ./.github/workflows/actions/flutter_setup
        with:
          setup-ios: true

      - name: Create distribution certificate
        shell: bash
        env:
          CERTIFICATE_BASE64: ${{ inputs.dist-certificate-base-64-content }}
          CERTIFICATE_NAME: "ios_dist.p12"
        run: |
          echo -n $CERTIFICATE_BASE64 | base64 --decode -o ${{ env.CERTIFICATE_NAME }}
        working-directory: ${{ inputs.ios-app-folder}}
