name: Deploy iOS TestFlight
description: "Deploy iOS to TestFlight"
inputs:
  xcode-version:
    description: "Xcode version"
    required: true
    default: false
  dist-certificate-base-64-content:
    description: "Distribution certificate base64 encoded"
    required: true
    default: false
  ios-app-folder:
    description: "iOS app folder"
    required: true
    default: false
  certificate-name:
    description: "Certificate name"
    required: true
    default: false
  build-number:
    description: "Build number"
    required: true
    default: false
  firebase-app-id:
    description: "Firebase app ID"
    required: true
    default: false
  dist-cert-password:
    description: "Distribution certificate password"
    required: true
    default: false
  appstore-connect-api-key-id:
    description: "Appstore connect API key ID"
    required: true
    default: false
  appstore-connect-api-key-issuer-id:
    description: "Appstore connect API key issuer ID"
    required: true
    default: false
  appstore-connect-api-key-base-64-content:
    description: "Appstore connect API key base64 encoded"
    required: true
    default: false



runs:
  using: "composite"
    steps:
      - name: Setup iOS
        uses: ./.github/workflows/actions/setup-ios
        with:
          "xcode-version": ${{ inputs.xcode-version }}
          "dist-certificate-base-64-content": ${{ inputs.dist-certificate-base-64-content }}
          "ios-app-folder": ${{ inputs.ios-app-folder }}
          "certificate-name": ${{ inputs.certificate-name }}
      
      - name: Release to testflight
        env:
          APPSTORE_CONNECT_API_KEY_ID: ${{ inputs.appstore-connect-api-key-id }}
          APPSTORE_CONNECT_API_KEY_ISSUER_ID: ${{ inputs.appstore-connect-api-key-issuer-id }}
          APPSTORE_CONNECT_API_KEY_BASE_64_CONTENT: ${{ inputs.appstore-connect-api-key-base-64-content }}
          DIST_CERTIFICATE_PATH: ${{ github.workspace }}/ios/${{ inputs.certificate-name }}
          DIST_CERTIFICATE_PASSWORD: ${{ inputs.dist-cert-password }}
          FIREBASE_APP_ID: ${{ inputs.firebase-app-id }}
          BUILD_NUMBER: ${{ inputs.build-number }}

        uses: maierj/fastlane-action@v3.0.0
        with:
          lane: "publish_prod_testflight"
          subdirectory: ${{ inputs.ios-app-folder }}
